<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/google-recaptcha.html">

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

<div class="container">
  <div class="row">
    <div class="col">
      <input type="text" id="lbl_mensaje" value="{{mensaje::input}}" disabled>
    </div>
  </div>


<div class="col-md-6 ml-auto" hidden$="{{!logado}}">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<br /><br /><br />
<div class="row" hidden$="{{logado}}">
    <div class="col-md-3">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="{{email::input}}" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{password::input}}" required>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">No soy robot =)</label>
      </div>
      <button on-click="Nuevo_Login" class="btn btn-primary">Login</button>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" on-click="signIn">New around here? Sign up</a>
      <a class="dropdown-item" on-click="signIn">Forgot password?</a>
    </div>
    <div class="col-md-6 ml-auto">
      <img src="../../images/indice.png" alt="Nuevo logo BBVA" width="300px" height="300px">
    </div>
</div>
<br /><br /><br />

<!--Formulario de registro>  <!-->
<div class="col-sm-6" hidden$="{{!sign_In}}">
  <h2>Sign up</h2>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email"  value="{{email::input}}" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password"  value="{{password::input}}" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword3" placeholder="Nombre"  value="{{nombre::input}}" required>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-6">
      <button  on-click="Registro" class="btn btn-primary">Sign in</button>
      <button  on-click="Cancelar" class="btn btn-primary">Cancel</button>
    </div>
  </div>
</div>


<!-- The g-recaptcha-response string displays in an alert message upon submit. -->
  <!--  <form action="javascript:alert(grecaptcha.getResponse(widgetId1));">
      <div id="example1"></div>
      <br>
      <input type="submit" value="getResponse">
    </form>-->
  </br>
    <!-- Resets reCAPTCHA widgetId2 upon submit. -->
    <!--<form action="javascript:grecaptcha.reset(widgetId2);">
      <div id="example2"></div>
      <br>
      <input type="submit" value="reset">
    </form>
  </br>-->
    <!-- POSTs back to the page's URL upon submit with a g-recaptcha-response POST parameter. -->
    <!--<form action="?" method="POST">
      <div id="example3"></div>
      <br>
      <input type="submit" value="Submit">
    </form>-->
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>

<!--<div id="scrollable-element" style="overflow: auto;"> <google-recaptcha scroll-target="document"></google-recaptcha></div>-->
  </template>


  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
      async defer>
    var verifyCallback = function(response) {
      alert(response);
    };
    var widgetId1;
    var widgetId2;
    var onloadCallback = function() {
      // Renders the HTML element with id 'example1' as a reCAPTCHA widget.
      // The id of the reCAPTCHA widget is assigned to 'widgetId1'.
      widgetId1 = grecaptcha.render('example1', {
        'sitekey' : '6Lc-GbEUAAAAAG2cuKC97mQwhZerth-jn578E7Vs',
        'theme' : 'light'
      });
      widgetId2 = grecaptcha.render(document.getElementById('example2'), {
        'sitekey' : '6Lc-GbEUAAAAAG2cuKC97mQwhZerth-jn578E7Vs'
      });
      grecaptcha.render('example3', {
        'sitekey' : '6Lc-GbEUAAAAAG2cuKC97mQwhZerth-jn578E7Vs',
        'callback' : verifyCallback,
        'theme' : 'dark'
      });
    };
  </script>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          nombre: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          mensaje:{
            type: String,
            value: "..."
          },
          sign_In: {
            type: Boolean,
            value: false
          },
          intento: {
            type: Number,
            value: 0
          }
        };
      };
   Nuevo_Login(){
     console.log("::: entro Nuevo Login :: ");
     if(this.intento > 4) {this.desactiva(); return;}

     var request = new XMLHttpRequest();
     request.open('POST', "http://localhost:3000/login", false);
     request.setRequestHeader("Accept", "application/json");
     request.setRequestHeader("Content-Type", "application/json");
     request.setRequestHeader("email", this.email);
     request.setRequestHeader("password", this.password);
     request.send();
     console.log("Respuesta :: " + request.responseText);

     if(request.responseText == "ok")
     {
       console.log("Logeo correcto, lo mando al menu.");
       this.intento=0;
       window.location.href="../../index2.html";
     } else
     {
       this.intento = this.intento + 1;
       if (request.responseText == 'noBD') this.mensaje = '::: No hay conexion a la Base de datos.';
       if (request.responseText == 'noUSER') this.mensaje = '::: El usuario no existe. Puede registrarse ahora.';
       if (request.responseText == 'noSTATUS') this.mensaje = '::: El usuario esta bloqueado o inactivo.';
       if (request.responseText == 'noPWD') this.mensaje = '::: El password introducido no coincide.';
       this.mensaje = this.mensaje + "   ::: Intentos ( " + this.intento + " ) :::";
       console.log(this.mensaje);
     }
   };
   desactiva(){
     var request = new XMLHttpRequest();
     request.open('POST', "http://localhost:3000/desactiva", false);
     request.setRequestHeader("Accept", "application/json");
     request.setRequestHeader("Content-Type", "application/json");
     request.setRequestHeader("email", this.email);
     request.send();
     console.log("Respuesta :: " + request.responseText);

     if(request.responseText == "okSAVE")
     {
       this.mensaje = "Usuario bloqueado.";
       console.log("Usuario bloqueado.");
     } else
     {
       console.log("Error. " + request.responseText);
     }
   };
   Cancelar(){
     location.reload();
     this.logado=false;
     this.sign_In=false;
   };
      signIn(){
        this.logado=true;
        this.sign_In=true;
        console.log("click signIn");
      };
      Registro(){
        var request = new XMLHttpRequest();
        request.open('POST', "http://localhost:3000/registro", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("email", this.email);
        request.setRequestHeader("password", this.password);
        request.setRequestHeader("nombre", this.nombre);
        console.log("REGISTRO:::.  email: " + this.email + ", Password: " + this.password + ", Nombre: " + this.nombre);
        request.send();
        console.log("Respuesta :: " + request.responseText);

        if(request.responseText == "okINSERT")
        {
          console.log("Registro OK");
          location.reload();
          this.logado=false;
          this.sign_In=false;
        } else
        {
          console.log("Error. " + request.responseText);
        }
        //window.location.href="../../index2.html";
      };

    };

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
