<!DOCTYPE html>
<html>
  <head>
     <link rel="import" href="https://rawgit.com/Polymer/polymer/v1.7.0/polymer.html" />
    <script src="https://elements.polymer-project.org/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  </head>

  <body fullbleed unresolved>

    <widget-example></widget-example>

    <dom-module id="widget-example">
    	<template>
    	  <div style="color: red;">Why doesn't rename first person cause a visible change?</div>
    	  <div>First 3 people:
    	    <!--
    	    <template is="dom-repeat" items="[[first4People(people, people.*)]]">
    	    <div>[[arrayItem(myArray.*, 0, 'name')]]</div>
    	    <template is="dom-repeat" items="{{people}}">
    	    -->
    	     <template is="dom-repeat" items="[[first4People(people, people.*)]]">
    	      <div>
    	        Index: <span>[[index]]</span>
    	        <br>
    	        First as this:[[arrayItem(people.*, index, 'first')]]
    	        <br>
      	      First not as this: <span>[[item.first]]</span>
    	      </div>
    	      <br><br>
    	    </template>
    	  </div>

    	  <div>
    	    <!-- Why doesn't this work? -->
    	    <button on-tap="renameFirstPerson">Rename first person</button>
    	    <button on-tap="sendFrontToBack">Send front to back</button>
    	  </div>
    	</template>
    	<script>
      	Polymer({
      		is: "widget-example",
      		properties: {
      			people: {
      				type: Array,
      				value: () => [
      				  {'first': 'Joe', 'last': 'Blogs'},
      				  {'first': 'Jon', 'last': 'Bigs'},
      				  {'first': 'John', 'last': 'Doe'},
      				  {'first': 'Josh', 'last': 'Blo'},
      				],
      			},
      		},

      		observers: [
      		  'o(people.*)',
      		],

      		o: function(change) {
      		  console.log('o', change)
      		},

      		// Each item of observers array is a method name followed by
          // a comma-separated list of one or more paths.
          observers: [
            'userNameChanged(people.*)'
          ],
          // Each method referenced in observers must be defined in
          // element prototype. The argument to the method is the new value
          // of the sub-property.
          userNameChanged: function(name) {
            console.log('userNameChanged')
            console.log('new name: ' + name);
          },

      		// first argument is the change record for the array change,
          // change.base is the array specified in the binding
          arrayItem: function(change, index, path) {
            // this.get(path, root) returns a value for a path
            // relative to a root object.
            return this.get(path, change.base[index]);
          },

      		first4People: function() {
      		  console.log('first4People called');
      		  return this.people.slice(0, 3);
      		},

      		renameFirstPerson: function() {
      		  console.log('before sendFrontToBack', this.people)
      		  //this.set(['people.0.first'], this.people[0].first+'Foo');


      		   //generate random name
              var rnd_firstName = Math.random().toString(36).substring(7);

              //update array item property
              console.log(this.people);
              console.log(this.people[0]);
              console.log(this.people[0].first);
              this.set('people.0.first', rnd_firstName);



              return;


            // None of this causes the rename to show up.
      		  var person = this.people[0];
      		  this.people[0] = {};
      		  this.people[0] = person;
      		  this.notifyPath('people.0');

      		  this.set('person', {});
      		  this.set('person', person);

      		  var people = this.get('people');
      		  this.set('people', []);
      		  this.set('people', people);
      		},

      		sendFrontToBack: function() {
      		  console.log('before sendFrontToBack', this.people)
      		  var last = this.shift('people', this.people);
      		  this.push('people', last);
      		  console.log('after sendFrontToBack', this.people)
      		},
        });
      </script>
    </dom-module>
  </body>
</html>
