<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">1</div>
      <h1>Administracion de clientes</h1>
      <p>Modulo de altas, bajas, modificacion y consultas de coleccion de clientes.</p>
    </br></br>
    <div class="col-md-3">
    3
    </div>
    <div class="container">
  <div class="row">
    <h1>Gestor de Clientes</h1>
  </div>
  <div class="row">
    <button on-click="obtenerClientes" class="btn btn-info" type="button" name="button">Obtener Clientes</button>
    <button on-click="insertarClientes" class="btn btn-warning" type="button" name="button">Insertar Clientes</button>
  </div>
  <div class="row">
    <br />
      Cliente a buscar: <input type="idCliente" value="{{idCli::input}}">
    <br /><br /><br />
  </div>
  <div class="row">
      <button on-click="buscarClientes" class="btn btn-success" type="button" name="button">Buscar Clientes</button>
    <br /><br />
    <button on-click="borraClientes" class="btn btn-danger" type="button" name="button">Borrar Cliente</button>
    <br /><br /><br />
  </div>

  <div class="row">
    <div class="col">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Cliente</th>
        <th>Razon Social</th>
        <th>Personalidad Juridica</th>
        <th>Fecha Alta</th>
        <th>Canal</th>
        <th>Contratos</th>
      </thead>

      <tbody>
        <template is="dom-repeat" items={{clientes}} as="cliente">
          <tr>
            <td>
                [[cliente._id]]
            </td>
            <td>
                [[cliente.idCliente]]
            </td>
            <td>
                [[cliente.razonSocial]]
            </td>
            <td>
                [[cliente.personalidadJuridica]]
            </td>
            <td>
                [[cliente.fechaAlta]]
            </td>
            <td>
                [[cliente.Canal]]
            </td>
            <td>
              <template is="dom-repeat" items={{contrats}} as="contrao">
                <tr>
                  <td>
                      {{contrato[index].idContrato}}
                  </td>
                  <td>
                      {{contrato.Tipo}}
                  </td>
                  <td>
                      {{contrato.Mercado}}
                  </td>
                  <td>
                      {{contrato.Productos}}
                  </td>
                </tr>
              </template>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    </div>
  </div>

<h1>Actualizacion y/o alta</h1>
  <div class="container">
    <div class="col-md-8">
      <div class="form-row">
          <div class="form-group col-md-6"> <!-- Codigo del cliente -->
              <label for="idClinte" class="control-label">Codigo del cliente</label>
              <input value="{{idCliente::input}}" type="text" class="form-control" id="idCliente" name="idCliente" placeholder="Codigo coorporativo del cliente" required>
          </div>

          <div class="form-group col-md-6"> <!-- Razon social -->
              <label for="razonSocial" class="control-label">Razon Social</label>
              <input value="{{razSocCli::input}}" type="text" class="form-control" id="razSocCli" name="razSocCli" placeholder="Razon social de la contrapartida" required>
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6"> <!-- Personalidad Juridica -->
              <label for="peonalidadJuridica" class="control-label" required>Personalidad Juridica</label>
              <select class="form-control" id="persJurCli"  value="{{persJurCli::input}}" required>
                  <option value="gobierno">Gobierno</option>
                  <option value="moral">Moral</option>
                  <option value="fisica">Fisica</option>
                  <option value="fideicomiso">Fideicomiso</option>
              </select>
          </div>

        <div class="form-group col-md-6"> <!-- Fecha alta -->
            <label for="fechaAlta" class="control-label">Fecha de alta</label>
            <input value="{{fechaAltaCli::input}}" type="date" class="form-control" id="fechaAltaCli" name="street2" placeholder="Indica la fecha de alta" required>
        </div>

        <div class="form-group col-md-6"> <!-- Canal -->
            <label for="Canal" class="control-label" required>Canal</label>
            <select class="form-control" id="CanalCli"  value="{{CanalCli::input}}" required>
                <option value="Bcom">Bcom</option>
                <option value="Netcash">Netcash</option>
            </select>
        </div>
     </div>
</div>
<div class="col-md-8"> <!-- Contrato-->
      <br /><br />
      <h3>Contratos</h3>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="idContra" class="control-label">ID Contrato</label>
          <input value="{{idCont::input}}" type="text" class="form-control" id="idCont" name="idCont" placeholder="###" required>
        </div>
        <div class="form-group col-md-6">
          <label for="tipoContra" class="control-label"> Tipo del contrato</label>
          <select class="form-control" id="TipoCont"  value="{{TipoCont::input}}" required>
              <option value="CMOF">CMOF</option>
              <option value="ISDA">ISDA</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="MercadoCont" class="control-label">Mercado del contrato</label>
          <select class="form-control" id="MercadoCont"  value="{{MercadoCont::input}}" required>
              <option value="OTC">Derivados OTC</option>
              <option value="MM">Money Market</option>
              <option value="RF">Renta Fija</option>
              <option value="RV">Renta Variable</option>
          </select>
        </div>
      </div><br /><br />
     <!-- Contrato-->
     <h3>Productos</h3>
     <div class="form-row">
          <div class="form-group col-md-6">
            <label for="idProducto" class="control-label">ID Producto</label>
            <input value="{{idProducto::input}}" type="text" class="form-control" id="idProducto" name="idProducto" placeholder="##">
          </div>
          <div class="form-group col-md-6">
            <label for="TipoProducto" class="control-label">Tipo</label>
            <select class="form-control" id="TipoProd"  value="{{TipoProd::input}}" required>
                <option value="OPCIONES_EQUITY">OPCIONES DE EQUITY</option>
                <option value="OPCION_TASAS">OPCION DE TASAS</option>
                <option value="OPCION_DIVISA">OPCION DE DIVISA</option>
                <option value="INTEREST_RATE_SWAP">INTEREST RATE SWAP</option>
                <option value="CROSS_CURRENCY">CROSS CURRENCY</option>
                <option value="BONO">BONO</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="claveProducto" class="control-label">Clave Producto</label>
            <select class="form-control" id="claveProd"  value="{{claveProd::input}}" required>
                <option value="OEQ">OEQ</option>
                <option value="CFC">CFC</option>
                <option value="OFX">OFX</option>
                <option value="IRS">IRS</option>
                <option value="CCY">CCY</option>
                <option value="BOND">BONO</option>
            </select>
          </div>
     </div>
<br /><br /><br />
</div>
    <div class="form-group col-md-3"> <!-- Boton insertar -->
      <button on-click="insertarClientes" class="btn btn-warning" type="button" name="button">Insertar Clientes</button>
    </div>
  </div>
</div>
</div>

  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          contratos: {
            type: Array,
            notify: true
          },
          productos: {
            type: Array,
            notify: true
          },
          idCli: {
            type: String
          },
          idCliente:{type: String, value:''},
         	razSocCli:{type: String, value:''},
         	persJurCli:{type: String},
         	fechaAltaCli:{type: String, value:'1900/01/01'},
         	CanalCli:{type: String},
         		idCont:{type: String, value:''},
         		TipoCont:{type: String},
         		MercadoCont:{type: String},
         			idProducto:{type: String, value:''},
         			TipoProd:{type: String},
         			claveProd:{type: String}
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
         //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
         request.open("GET","http://localhost:3001/Clientes",false);
         request.setRequestHeader("Accept","application/json");
         request.send();
         //this.clientes = JSON.parse(request.responseText).value;
         this.clientes = JSON.parse(request.responseText);
         console.log(this.clientes);
         //this.contratos = this.clientes.Contratos;

        var request2 = new XMLHttpRequest();
         request2.open("GET","http://localhost:3001/Clientes_Contratos",false);
         request2.setRequestHeader("Accept","application/json");
         request2.send();
         this.contratos = JSON.parse(request2.responseText);
         console.log(this.contratos);
      }
      insertarClientes2(){
        var request = new XMLHttpRequest();
         //request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
         request.open("POST","http://localhost:3001/Movimientos/v3",false);
         request.setRequestHeader("Accept","application/json");
         request.setRequestHeader("Content-Type","application/json");

         var NuevoCliente = {"CustorID":"","ContactName":"Pepe","CompanyName":"BBVA"};
         var body=JSON.stringify(NuevoCliente);

         request.send(body);
         this.respuesta = request.responseText;
         console.log(this.respuesta);
      }
      buscarClientes(){
        console.log("entro buscar cliente" + this.idCli);
        var request = new XMLHttpRequest();
         request.open("GET","http://localhost:3001/Clientes/" + this.idCli,false);
         request.setRequestHeader("Accept","application/json");
         request.send();
         this.clientes = JSON.parse(request.responseText);
         console.log(this.clientes);
      }
      borraClientes(){
        console.log("entro buscar cliente" + this.idCli);
        var request = new XMLHttpRequest();
         request.open("GET","http://localhost:3001/eliminarcliente/" + this.idCli,false);
         request.setRequestHeader("Accept","application/json");
         request.send();
         this.clientes = JSON.parse(request.responseText);
         console.log(this.clientes);
      }
      insertarClientes(){
         var request = new XMLHttpRequest();
         request.open("POST","http://localhost:3001/insertarcliente",false);
         request.setRequestHeader("Accept","application/json");
         request.setRequestHeader("Content-Type","application/json");

         var NuevoCliente = //{"CustorID":"","ContactName":"Pepe","CompanyName":"BBVA"};
         {
         	"idCliente":this.idCliente,
         	"razonSocial":this.razSocCli,
         	"personalidadJuridica":this.persJurCli,
         	"fechaAlta":this.fechaAltaCli,
         	"Canal":this.CanalCli,
         	"Contratos": [{
         		"idContrato":this.idCont,
         		"Tipo":this.TipoCont,
         		"Mercado":this.MercadoCont,
         		"Productos":[{
         			"idProducto":this.idProducto,
         			"Tipo":this.TipoProd,
         			"claveProducto":this.claveProd
         		}]
         	}]
        };
        console.log(NuevoCliente);

         var body=JSON.stringify(NuevoCliente);
         request.send(body);
         this.respuesta = request.responseText;
         console.log(this.respuesta);
      }
    }


    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
