<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view4">
  <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">4</div>
      <h1>API EXTERNA</h1>
      <p>Este es un plugin que se conecta a la API de CoinMarketCap; es una web que te muestra los precios de todas las criptomonedas que hay en el mercado.</p>
<br /><br /><br />
      <div class="row">
        <div class="col-md-6">
              <label for="divisa" class="control-label">Presentar en divisa:</label>
              <select class="form-control" id="divisaTo" value="{{divisa::input}}" required>
                  <option value="MXN">MXN</option>
                  <option value="EUR">EUR</option>
                  <option value="USD">USD</option>
                  <option value="COP">COP</option>
              </select>
          </div>
          <div class="col-md-6">
                <label for="mostrar" class="control-label">Numero de resultados a mostrar:</label>
                <input type="number" min="1" max="20" name="ver" value="{{mostrar::input}}"  required/>
          </div>
      </div>
<br /><br />
      <div class="row">
        <div class="col">
          <div class="form-group"> <!-- Boton insertar -->
          <button on-click="obtenerCripto" type="button" class="btn btn-primary">Obtener Criptomonedas</button>
      </div>
        </div>
      </div>

      <div class="row">
        <table class="table table-hover table-striped">
          <thead>
            <th>id</th>
            <th>name</th>
            <th>symbol</th>
            <th>rank</th>
            <th>price_usd</th>
            <th>price_btc</th>
            <th>last_updated</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items={{cripto}}>
              <tr>
                <td>[[item.id]]</td>
                <td>[[item.name]]</td>
                <td>[[item.symbol]]</td>
                <td>[[item.rank]]</td>
                <td>[[item.price_usd]]</td>
                <td>[[item.price_btc]]</td>
                <td>[[item.last_updated]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    class MyView4 extends Polymer.Element {
      static get is() { return 'my-view4'; }
      static get properties() {
        return {
          cripto: {
            type: Array,
            notify: true
          },
          divisa: {
            type: String,
            value:'MXN'
          },
          mostrar: {
            type: String,
            value:1
          },
          url: {
            type: String,
            value:'https://api.coinmarketcap.com/v1/ticker'
          }
        };
      }
      obtenerCripto(){
      var request = new XMLHttpRequest();
       //request.open("GET","https://api.coinmarketcap.com/v1/ticker/?convert=MXN&limit=10",false);
       request.open("GET",this.url + "/?convert=" + this.divisa + "&limit=" + this.mostrar,false);
       request.setRequestHeader("Accept","application/json");
       request.send();
       this.cripto = JSON.parse(request.responseText);
       console.log(this.divisa);
       //console.log(this.cripto);
       console.log(this.mostrar);
       console.log(this.url);
       }
    }
    window.customElements.define(MyView4.is, MyView4);
  </script>
</dom-module>
